@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: all 0.1s;
    color: white;

    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.maincard {
    border: 2px;
    border-style: dotted;
    border-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.nicknames a {
    font-size: 30px;
}

.nicknames h1 {
    font-size: 20px;
}

.avatar {
    border: 2px;
    border-style: dotted;
    border-color: yellow;
    display: flex;
}

.avatar_img {
    width: 128px;
    height: 128px;
    max-width: 128px;
}

.info {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 2px;
    border-style: dotted;
    border-color: yellow;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spotify_embed {
    border: 2px;
    border-style: dotted;
    border-color: yellow;
}

.social {
    display: flex;
    gap: 20px;
}
